
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Social Dashboard | Log in</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.2.0/css/adminlte.min.css" />
</head>
<body class="hold-transition login-page">
<div class="login-box">
<div class="login-logo">
<a href="Javascript:void(0)"><b>Social</b>Dashboard</a>
</div>

<div class="card">
<div class="card-body login-card-body">
<p class="login-box-msg">Sign in to start your session</p>
<form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
<div class="input-group mb-3">
<input type="text" class="form-control" placeholder="Mobile No" [formControl]="mobileNo">
<div class="input-group-append">
<div class="input-group-text">
<span class="fas fa-envelope"></span>
</div>
</div>
<div [hidden]="mobileNo.valid || mobileNo.untouched" class="text-danger">  
    <div [hidden]="!mobileNo.hasError('minlength')">  
        Username can not be shorter than 3 characters.  
    </div>  
    <div [hidden]="!mobileNo.hasError('required')" class="text-danger">  
      Username is required.  
    </div>  
</div>

</div>
<div class="input-group mb-3">
<input type="password" class="form-control" placeholder="Password" [formControl]="userpassword">
<div class="input-group-append">
<div class="input-group-text">
<span class="fas fa-lock"></span>
</div>
</div>
</div>
<div [hidden]="userpassword.valid || userpassword.untouched" class="text-danger">  
    <div [hidden]="!userpassword.hasError('minlength')">  
        Password can not be shorter than 3 characters.  
    </div>  
    <div [hidden]="!userpassword.hasError('required')" class="text-danger">  
        Password is required.  
    </div>  
</div>
<div class="row">
<div class="col-4">
<button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Sign In</button>
</div>
</div>
</form>
<p class="mb-0">
<p>Don't have an account? <a routerLink="/Register">Register here</a>
</p>
</div>

</div>
</div>


<script src="../../plugins/jquery/jquery.min.js"></script>

<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="../../dist/js/adminlte.min.js?v=3.2.0"></script>
</body>
</html>
